[user]
	email = qcxhome@gmail.com
	name = Chenxiong Qi
[merge]
	tool = vimdiff
[color]
	status = true
	diff = true
[alias]
	st = status
	cm = commit
	br = branch
	co = checkout
    df = diff
[sendemail]
	smtpserverport = 465
	smtpserver = smtp.gmail.com
	smtpencryption = ssl
	smtpuser = qcxhome@gmail.com
